.category {
    border: solid;
    background-color: transparent;
    border-color: white;
    color: white;
/*     padding: 14px 28px; */
    margin: 2px;
    font-size: 120%;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;
    width: 40%;
    height: 200px;
    border-radius:5px
  }
  
  .category:hover {
    background-color: #2196F3;
    color: white;
    transform: scale(1.01);
  }
  

  .a {
    color: white;
  }

