<h3>Please choose a category below to start your quizing experience! </h3>

<div class="category-page">
  <div layout="coloumn">
    <button class="category" value ="1" routerLink = "/questions" (click) = "setChoice(1)" >General knowledge</button>
    <button class="category" value ="2" routerLink = "/questions" (click) = "setChoice(2)">Science: Computers</button>
    <button class="category" value ="3" routerLink = "/questions" (click) = "setChoice(3)">Science: Mathematics</button>
    <button class="category" value ="4" routerLink = "/questions" (click) = "setChoice(4)">Geography</button>
  </div>
</div>