
.ansbttn {
    border: solid;
    background-color:transparent;
    border-color: white;
    color: white;
    margin: 10px;
    padding: 14px 28px;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius:8px;
    transition: 0.2s;
  }

  .ansbttn:hover {
    background-color: #2196F3;
    color: white;
  }

  .text {
    color: white;
  }

  .leaderboard {
    border: solid;
    background-color: transparent;
    border-color: white;
    color: white;
    padding: 14px 28px;
    margin: 5px;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius:8px;  
    transition: 0.2;
  }

  .leaderboard:hover {
    background-color: #2196F3;
    color: white;
  }


  
