.start {
    border: solid;
    background-color: white;
    border-color: #2196f3;
    color: dodgerblue;
    padding: 14px 28px;
    margin: 5px;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
    /* width: 40%;
    height: 200px; */
    display: inline-block;
    border-radius: 8px;
  }
  
  .start:hover {
    background-color: #2196f3;
    color: white;
    opacity: 1;
  }
  .input {
    border: solid;
    background-color: white;
    border-color: #2196f3;
    color: dodgerblue;
    padding: 14px 28px;
    margin: 5px;
    font-size: 100%;
    text-align: center;
    /* cursor: pointer; */
    opacity: 0.6;
    transition: 0.2s;
    /* width: 40%;
      height: 200px; */
    display: inline-block;
    border-radius: 8px;
  }